# C++ 编译产物
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt 专属文件
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*.qm
*.prl

# Qt 单元测试
target_wrapper.*

# QtCreator 配置文件
*.autosave
*.qmlproject.user
*.qmlproject.user.*
CMakeLists.txt.user*
compile_commands.json
*creator.user*
*_qmlcache.qrc

# 核心：忽略所有 build 文件夹（无论层级）
build/
cmake-build-*/
*build-*